@font-face {
  font-family: 'Digital-7';
  src: url('Digital-7.woff') format('woff'),
       url('Digital-7.ttf') format('truetype'),
       url('Digital-7.svg#Digital-7') format('svg');
  font-weight: normal;
  font-style: normal;
}
body
{
	margin-top: 50px;
}
#obudowa
{
	width:550px;
	height: 150px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;
	background-color: #4D1300;
	position: relative;
}
#obudowa2
{
	position: absolute;
	width:500px;
	height: 100px;
	margin-left:25px;
	border-radius: 10px;
	margin-top: 25px;
	background-color: black;
}

#wyswietlacz
{
	position: absolute;
	width:200px;
	height: 80px;
	margin-left:10px;
	margin-top: 10px;
	background-color: #1E0000;
}
#clock
{
	color: #390000;
	font-size: 70px;
	text-align: center;
	font-family: 'digital-7';
	position: relative;
	z-index: 4;
	margin: 5px;
	letter-spacing: 2px;
}

#hour1
{
	position: absolute;
	color: red;
	font-size: 70px;
	width:40px;
	text-align: right;
	font-family: 'digital-7';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -69px;
	margin-left: 13px;
	float:left;
	text-shadow: 0px 0px 15px rgba(244, 0, 0, 1);
}
#hour2
{
	position: absolute;
	color: red;
	font-size: 70px;
	width:40px;
	text-align: right;
	font-family: 'digital-7';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -69px;
	margin-left: 48px;
	float:left;
	text-shadow: 0px 0px 15px rgba(244, 0, 0, 1);
}
#dot
{
	position: absolute;
	color: red;
	font-size: 70px;
	width:40px;
	text-align: right;
	font-family: 'digital-7';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -69px;
	margin-left: 61px;
	float:left;
	text-shadow: 0px 0px 15px rgba(244, 0, 0, 1);
	animation: blink-animation 2s steps(2, start) infinite;
	-webkit-animation: blink-animation 2s steps(2, start) infinite;
}
#minute1
{
	position: absolute;
	color: red;
	font-size: 70px;
	width:40px;
	text-align: right;
	font-family: 'digital-7';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -69px;
	margin-left: 97px;
	float:left;
	text-shadow: 0px 0px 20px rgba(244, 0, 0, 1);
}

#minute2
{
	position: absolute;
	color: red;
	font-size: 70px;
	width:40px;
	text-align: right;
	font-family: 'digital-7';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -69px;
	margin-left: 132px;
	float:left;
	text-shadow: 0px 0px 20px rgba(244, 0, 0, 1);
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}