@font-face {
  font-family: 'digital';
  src: url('digital.ttf') format('truetype');
}
body
{
	margin-top: 50px;
}
#obudowa
{
	width:400px;
	height: 145px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px 10px;
	background-color: #2E0C04;
	position: relative;

}
#obudowa2
{
	position: absolute;
	width:386px;
	height: 126px;
	margin-left:5px;
	border-radius: 10px;
	margin-top: 5px;
	background-color: black;
	border: 2px white solid;
	text-align: center;
}
img
{
	height: 15px;
	margin-top: 113px;
}

#display
{
	position: absolute;
	width: 250px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #1A0000;
	
}
#clock
{
	color: #390000;
	font-size: 90px;
	text-align: center;
	font-family: 'digital';
	position: relative;
	z-index: 4;
	margin: 5px;
	letter-spacing: 2px;
}
.allDigits
{
	position: absolute;
	color: red;
	font-size: 90px;
	width:40px;
	text-align: right;
	font-family: 'digital';
	z-index: 10;
	letter-spacing: 2px;
	margin-top: -89px;
	float:left;
	text-shadow: 0px 0px 15px rgba(244, 0, 0, 1);
}
#hour1
{
	margin-left: 23px;
}
#hour2
{
	margin-left: 67px;
}
#dots
{
	margin-left: 88.5px;
	text-shadow: 0px 0px 15px rgba(244, 0, 0, 1);
	animation: blink-animation 2s steps(2, start) infinite;
	-webkit-animation: blink-animation 2s steps(2, start) infinite;
}
#minute1
{
	margin-left: 128px;
}
#minute2
{
	margin-left: 173px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}